@import url("https://fonts.googleapis.com/css?family=FORUM");

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.landingPage {
  background-image: url("https://i.pinimg.com/originals/e5/4e/2e/e54e2ef0a33bbab5be4c0b199d03b786.jpg");
  background-repeat: no-repeat;
  height: 47rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
  /* display:flex;

    justify-content: center;
    justify-content: space-around; */
}

.landingButtons {
  height: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  /* justify-items: center; */
  /* align-items: center; */
}
/* .loginback {
  background-image: url("https://i.pinimg.com/originals/e5/4e/2e/e54e2ef0a33bbab5be4c0b199d03b786.jpg");
  background-repeat: no-repeat;
  background: url("https://i.pinimg.com/originals/e5/4e/2e/e54e2ef0a33bbab5be4c0b199d03b786.jpg")
  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} */

/* .signupback {
  background: url("https://i.pinimg.com/originals/e5/4e/2e/e54e2ef0a33bbab5be4c0b199d03b786.jpg")
  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} */


.loginPage {
  background: url("https://i.pinimg.com/originals/e5/4e/2e/e54e2ef0a33bbab5be4c0b199d03b786.jpg")
  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  height: 47rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButtons {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.signupPage {
  /* background-image: url("https://i.pinimg.com/originals/e5/4e/2e/e54e2ef0a33bbab5be4c0b199d03b786.jpg");
  background-repeat: no-repeat; */
  background: url("https://i.pinimg.com/originals/e5/4e/2e/e54e2ef0a33bbab5be4c0b199d03b786.jpg")
  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

  height: 47rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logout {
  display: flex;
  justify-content: flex-end;
  /* padding-top:1%; */
  padding-right: 3%;
  background-color: #1b1b1b;
}

.homepage {
  background-color: #1b1b1b;
  height: 47rem;
}

/* .what-to-see{
  background-color: #1b1b1b;
  height: 42rem;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
} */

.homepage h1 {
  color: aliceblue;
  font-family: "FORUM", cursive;
  justify-content: center;
  display: flex;
  margin-top: 20%;
}

.homepageButtons {
  margin-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-around;
}

.results {
  display: flex;
  justify-content: center;
  width:80%;
}

.background {
  /* background-image: url("https://cdn.shopify.com/s/files/1/0359/4744/6409/products/A5blank_5_800x.jpg?v=1620717232"); */
  background: url("https://cdn.shopify.com/s/files/1/0359/4744/6409/products/A5blank_5_800x.jpg?v=1620717232")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 35rem;
}

.cfg {
  border: solid;
  width: 25%;
}
